@charset "UTF-8";
html {
  font-size: 10px;
}

@media screen and (max-width: 767px) {
  html {
    font-size: 8px;
  }
}

body {
  font-family: "Times New Roman", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HiraMinProN-W3", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
}

.fixed {
  position: fixed;
}

.hide {
  display: none;
}

.sp-only {
  display: none;
}

@media screen and (max-width: 767px) {
  .sp-only {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .sp-none {
    display: none;
  }
}

.header {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}

.header__container {
  width: 100%;
  height: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__left {
  display: flex;
  align-items: center;
}

.header__logo {
  width: 200px;
  height: 40px;
  margin-right: 120px;
}

.header__list {
  display: flex;
  align-items: center;
  list-style: none;
}

.header__menu {
  margin-right: 30px;
}

.header__link {
  font-size: 1.6rem;
  color: #ffffff;
  text-decoration: none;
}

.header__button {
  display: inline-block;
  font-size: 1.6rem;
  color: #ffffff;
  background: #978F10;
  padding: 19px 37px 19px 69px;
  text-decoration: none;
  position: relative;
}

.header__button::before {
  display: inline-block;
  content: "";
  background: url(img/top/calendar.png) no-repeat center/contain;
  width: 22px;
  height: 22px;
  position: absolute;
  top: 14px;
  left: 32px;
}

.header__spButton {
  display: none;
  font-size: 1.6rem;
  color: #ffffff;
  background: #978F10;
  padding: 10px 16px;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .header__logo {
    margin-right: 40px;
  }
  .header__button {
    display: none;
  }
  .header__spButton {
    display: block;
  }
}

.drawer {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 300;
  display: none;
}

.drawer__container {
  width: 100%;
  height: 100%;
  background: #ffffff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.drawer__icon {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 40px;
  right: 40px;
  z-index: 301;
}

.drawer__list {
  list-style: none;
}

.drawer__menu {
  margin-bottom: 40px;
}

.drawer__link {
  font-size: 2rem;
  color: #000000;
  text-decoration: none;
}

.drawer__button {
  display: inline-block;
  font-size: 2rem;
  color: #ffffff;
  background: #978F10;
  padding: 19px 37px 19px 69px;
  text-decoration: none;
  position: relative;
}

.drawer__button::before {
  display: inline-block;
  content: "";
  background: url(img/top/calendar.png) no-repeat center/contain;
  width: 22px;
  height: 22px;
  position: absolute;
  top: 14px;
  left: 32px;
}

@keyframes zoomUp {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.15);
  }
}

.swiper-slide-active .slide-img,
.swiper-slide-duplicate-active .slide-img,
.swiper-slide-prev .slide-img {
  animation: zoomUp 10s linear 0s 1 normal both;
}

.slide-img img {
  display: block;
}

.slider-container {
  position: relative;
}

.swiper-container,
.swiper-wrapper,
.swiper-slide,
.slide-img {
  height: 100vh;
}

.slide-img > img {
  object-fit: cover;
  /* IE: not support */
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 767px) {
  .swiper-container,
  .swiper-wrapper,
  .swiper-slide,
  .slide-img {
    height: 60vh;
  }
}

.modal {
  width: 100%;
  height: 100vh;
  background: url(img/top/mainbg01.png) no-repeat scroll center/cover;
  position: fixed;
  top: 0;
  z-index: 100;
}

.modal__wrapper {
  width: 100%;
  height: 100%;
  background: #000000;
  border: 1px solid #707070;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 102;
}

.modal__container {
  width: 550px;
  height: 600px;
  background: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 203;
}

.modal__icon {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 20px;
  right: 22px;
}

.modal__icon:hover {
  cursor: pointer;
}

.modal__form {
  width: 430px;
  margin: 0 auto;
}

.modal__title {
  font-size: 2rem;
  color: #000000;
  text-align: center;
  border-bottom: 1px solid #e7e7e7;
  padding: 29px 0;
  margin-bottom: 35px;
}

.modal__menu {
  font-size: 1.6rem;
  color: #000000;
  margin-bottom: 14px;
}

.modal__menu.small {
  font-size: 1.4rem;
}

.modal__name {
  width: 430px;
  height: 26px;
  box-sizing: border-box;
  border: 1px solid #e7e7e7;
  margin-bottom: 14px;
}

.modal__name.bottom {
  margin-bottom: 64px;
}

.modal__list {
  width: 430px;
  height: 32px;
  border: 1px solid #e7e7e7;
  box-sizing: border-box;
  margin-bottom: 14px;
}

.modal__box {
  text-align: center;
}

.modal__button {
  padding: 13px 67px;
  background: #ffffff;
  border: 1px solid #e7e7e7;
}

.fv__container {
  display: flex;
  flex-direction: row-reverse;
  position: absolute;
  top: 33.55%;
  right: 26.45%;
  z-index: 3;
}

.fv__title {
  font-size: 3.4rem;
  color: #ffffff;
  writing-mode: vertical-rl;
  text-orientation: upright;
  letter-spacing: 0.7rem;
}

.fv__title.left {
  margin-right: 51px;
}

.message {
  width: 100%;
  background: url(img/top/bg.jpg) no-repeat scroll center/cover;
}

.message__container {
  width: 46.83%;
  max-width: 960px;
  min-width: 480px;
  margin-left: 29.84%;
  padding: 64px 0 98px 0;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.message__wrapper {
  display: flex;
  flex-direction: row-reverse;
}

.message__title {
  font-size: 2.8rem;
  color: #000000;
  writing-mode: vertical-rl;
  letter-spacing: 1.4rem;
}

.message__title.left {
  margin-right: 33px;
  margin-top: 85px;
}

.message__content {
  font-size: 1.6rem;
  color: #000000;
  writing-mode: vertical-rl;
  line-height: 1.375;
  letter-spacing: 0.6rem;
  margin-top: 85px;
}

.message__name {
  font-size: 2.2rem;
  color: #000000;
  writing-mode: vertical-rl;
  letter-spacing: 1.1rem;
  margin-top: 379px;
}

@media screen and (max-width: 767px) {
  .message__container {
    width: calc(100% - 20px * 2);
    max-width: 534px;
    min-width: auto;
    margin-left: 0;
    margin: 0 auto;
    padding: 64px 20px 98px;
  }
  .message__title.left {
    margin-right: 20px;
  }
}

.features {
  width: 100%;
  padding: 106px 0 78px;
}

.features__container {
  width: 100%;
  height: 545px;
  display: flex;
  margin-bottom: 122px;
}

.features__container.reverse {
  flex-direction: row-reverse;
  justify-content: flex-start;
}

.features__image {
  width: 54.68%;
  height: auto;
  object-fit: cover;
}

.features__wrapper {
  width: 870px;
  box-sizing: border-box;
  padding: 31px 0 0 7.13%;
}

.features__wrapper.wrapper2 {
  padding: 53px 40px 0 21.25%;
}

.features__title {
  font-size: 3.6rem;
  color: #000000;
  line-height: 1.72;
  margin-bottom: 75px;
}

.features__content {
  font-size: 1.6rem;
  color: #000000;
  line-height: 2;
  margin-bottom: 75px;
}

.features__content.content2 {
  white-space: pre;
  margin-bottom: 43px;
}

.features__button {
  font-size: 1.6rem;
  color: #000000;
  text-decoration: none;
  padding: 20px 44px;
  border: 1px solid #707070;
}

@media screen and (max-width: 1260px) {
  .features__container {
    height: auto;
    min-height: 545px;
  }
  .features__image {
    min-width: 388px;
  }
  .features__wrapper {
    width: 45.32%;
    min-width: 380px;
    padding: 31px 20px 0;
  }
  .features__wrapper.wrapper2 {
    padding: 53px 20px 0 100px;
  }
  .features__content.content2 {
    white-space: pre-wrap;
  }
  .pc-middle {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .features__container {
    min-height: auto;
    display: block;
  }
  .features__image {
    width: 100%;
  }
  .features__wrapper {
    width: 100%;
  }
  .features__wrapper.wrapper2 {
    padding: 31px 20px 0;
  }
  .features__title {
    margin-bottom: 40px;
  }
  .features__content {
    margin-bottom: 40px;
  }
}

.plan {
  width: 100%;
  padding: 60px 0 144px;
  background: url(img/top/top-select-bg.png) no-repeat center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.plan__logo {
  width: 40px;
  height: 40px;
  margin-bottom: 20px;
}

.plan__title {
  font-size: 3.6rem;
  color: #000000;
  margin-bottom: 66px;
}

.plan__cards {
  width: 61.46%;
  min-width: 1080px;
  display: flex;
  justify-content: space-between;
}

.plan__card {
  width: 28.05%;
}

.plan__card--top {
  height: 270px;
  margin-bottom: 36px;
}

.plan__image {
  width: 100%;
  object-fit: cover;
  margin-bottom: 32px;
}

.plan__name {
  font-size: 2rem;
  color: #000000;
  line-height: 1.6;
}

.plan__description {
  font-size: 1.6rem;
  color: #000000;
  line-height: 2;
}

@media screen and (max-width: 1260px) {
  .plan__cards {
    min-width: 727px;
  }
}

@media screen and (max-width: 767px) {
  .plan {
    padding: 60px 0 0;
  }
  .plan__cards {
    width: 100%;
    min-width: auto;
    display: block;
  }
  .plan__card {
    width: 100%;
    margin-bottom: 60px;
  }
  .plan__card--top {
    height: auto;
    margin-bottom: 20px;
  }
  .plan__name {
    padding: 0 20px;
  }
  .plan__description {
    padding: 0 20px;
  }
}

.info {
  width: 100%;
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info__title {
  font-size: 3.6rem;
  color: #000000;
  margin-bottom: 46px;
}

.info__wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 49px;
}

.info__tab {
  font-size: 1.6rem;
  color: #000000;
  text-decoration: none;
}

.info__tab.eigyo {
  margin-right: 53px;
}

.info__tab:hover {
  text-decoration: underline;
}

.info__container {
  width: 61.77%;
  min-width: 1186px;
  box-sizing: border-box;
  margin: 0 18.96% 0 19.27%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  display: none;
}

.info__container.show {
  display: grid;
}

.info__box {
  width: auto;
  min-width: 550px;
  height: 130px;
  background: #F6F6F6;
  padding: 0 10px;
  margin-bottom: 20px;
  margin-right: 46px;
  display: flex;
}

.info__box:nth-of-type(2n) {
  margin-right: 0;
}

.info__box--image {
  width: 103px;
  height: 100px;
  object-fit: cover;
  margin-top: 15px;
}

.info__rightBox {
  margin-top: 15px;
  padding-left: 30px;
}

.info__date {
  font-size: 1.4rem;
  color: #000000;
  margin-bottom: 10px;
}

.info__content {
  font-size: 1.6rem;
  color: #000000;
  line-height: 2;
}

@media screen and (max-width: 1400px) {
  .info__container {
    min-width: 786px;
  }
  .info__box {
    min-width: 350px;
  }
}

@media screen and (max-width: 767px) {
  .info__container {
    width: 100%;
    min-width: auto;
    margin: 0;
    padding: 0 20px;
    display: block;
    grid-template-columns: 1fr;
    display: none;
  }
  .info__box {
    width: 100%;
    min-width: auto;
    box-sizing: border-box;
    margin-right: 0;
  }
}

.access {
  width: 100%;
  padding: 60px 0 110px;
  background: url(img/top/bg.jpg) no-repeat center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.access__title {
  font-size: 3.6rem;
  color: #000000;
  margin-bottom: 84px;
}

.access__container {
  width: 100%;
  height: 370px;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  padding: 0 60px;
  margin-bottom: 69px;
}

.access__image {
  width: 656px;
  height: 100%;
  object-fit: cover;
  margin-right: 83px;
}

.access__wrapper {
  width: 751px;
  box-sizing: border-box;
  padding: 12px 0 0px 0;
}

.access__content {
  font-size: 1.6rem;
  color: #000000;
  line-height: 1.5;
  margin-bottom: 16px;
}

.access__content.address {
  margin-bottom: 20px;
}

.access__content.note {
  margin-bottom: 0px;
}

.access__map {
  width: 768px;
  height: 592px;
}

@media screen and (max-width: 1400px) {
  .access__image {
    width: 48%;
    margin-right: 5%;
  }
  .access__wrapper {
    width: 47%;
  }
}

@media screen and (max-width: 767px) {
  .access {
    padding: 60px 0;
  }
  .access__container {
    height: auto;
    display: block;
    padding: 0 20px;
    margin-bottom: 40px;
  }
  .access__image {
    width: 100%;
    height: auto;
    margin-right: 0%;
    margin-bottom: 40px;
  }
  .access__wrapper {
    width: 100%;
    padding: 12px 20px;
  }
  .access__map {
    width: 100%;
  }
  .sp-none {
    display: none;
  }
}

.footer {
  width: 100%;
}

.footer__top {
  width: 100%;
  padding: 64px 0 61px;
  background: url(img/top/bg3.png) no-repeat center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__nav {
  margin-bottom: 96px;
}

.footer__list {
  display: flex;
  flex-direction: row-reverse;
}

.footer__menu {
  list-style: none;
  margin-right: 34px;
}

.footer__menu:first-of-type {
  margin: 0;
}

.footer__link {
  font-size: 1.8rem;
  color: #000000;
  letter-spacing: 1.8rem;
  writing-mode: vertical-rl;
  text-orientation: upright;
  text-decoration: none;
}

.footer__logo {
  width: 145px;
  object-fit: cover;
  margin-bottom: 72px;
}

.footer__wrapper {
  display: flex;
}

.footer__content {
  font-size: 1.6rem;
  color: #000000;
  font-style: normal;
  margin-bottom: 23px;
}

.footer__content.phone {
  margin-right: 20px;
}

.footer__bottom {
  width: 100%;
  background: #000000;
}

.footer__copyright {
  font-size: 1.2rem;
  color: #ffffff;
  text-align: center;
  padding: 23px 0 25px;
}
