@charset "UTF-8";
html {
  font-size: 10px;
}

@media screen and (max-width: 767px) {
  html {
    font-size: 8px;
  }
}

body {
  font-family: "Times New Roman", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HiraMinProN-W3", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
}

.fixed {
  position: fixed;
}

.hide {
  display: none;
}

@media screen and (max-width: 767px) {
  .sp-none {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .small-none {
    display: none;
  }
}

.header {
  width: 100%;
  height: 80px;
  background: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}

.header__container {
  width: 100%;
  height: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__left {
  display: flex;
  align-items: center;
}

.header__logo {
  width: 200px;
  height: 40px;
  margin-right: 120px;
}

.header__list {
  display: flex;
  align-items: center;
  list-style: none;
}

.header__menu {
  margin-right: 30px;
}

.header__link {
  font-size: 1.6rem;
  color: #000000;
  text-decoration: none;
}

.header__button {
  display: inline-block;
  font-size: 1.6rem;
  color: #ffffff;
  background: #978F10;
  padding: 19px 37px 19px 69px;
  text-decoration: none;
  position: relative;
}

.header__button::before {
  display: inline-block;
  content: "";
  background: url(img/top/calendar.png) no-repeat center/contain;
  width: 22px;
  height: 22px;
  position: absolute;
  top: 14px;
  left: 32px;
}

.header__spButton {
  display: none;
  font-size: 1.6rem;
  color: #ffffff;
  background: #978F10;
  padding: 10px 16px;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .header__logo {
    margin-right: 40px;
  }
  .header__button {
    display: none;
  }
  .header__spButton {
    display: block;
  }
}

.drawer {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 300;
  display: none;
}

.drawer__container {
  width: 100%;
  height: 100%;
  background: #ffffff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.drawer__icon {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 40px;
  right: 40px;
  z-index: 301;
}

.drawer__list {
  list-style: none;
}

.drawer__menu {
  margin-bottom: 40px;
}

.drawer__link {
  font-size: 2rem;
  color: #000000;
  text-decoration: none;
}

.drawer__button {
  display: inline-block;
  font-size: 2rem;
  color: #ffffff;
  background: #978F10;
  padding: 19px 37px 19px 69px;
  text-decoration: none;
  position: relative;
}

.drawer__button::before {
  display: inline-block;
  content: "";
  background: url(img/top/calendar.png) no-repeat center/contain;
  width: 22px;
  height: 22px;
  position: absolute;
  top: 14px;
  left: 32px;
}

.modal {
  width: 100%;
  height: 100vh;
  background: url(img/top/mainbg01.png) no-repeat scroll center/cover;
  position: fixed;
  top: 0;
  z-index: 100;
}

.modal__wrapper {
  width: 100%;
  height: 100%;
  background: #000000;
  border: 1px solid #707070;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 102;
}

.modal__container {
  width: 550px;
  height: 600px;
  background: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 203;
}

.modal__icon {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 20px;
  right: 22px;
}

.modal__icon:hover {
  cursor: pointer;
}

.modal__form {
  width: 430px;
  margin: 0 auto;
}

.modal__title {
  font-size: 2rem;
  color: #000000;
  text-align: center;
  border-bottom: 1px solid #e7e7e7;
  padding: 29px 0;
  margin-bottom: 35px;
}

.modal__menu {
  font-size: 1.6rem;
  color: #000000;
  margin-bottom: 14px;
}

.modal__menu.small {
  font-size: 1.4rem;
}

.modal__name {
  width: 430px;
  height: 26px;
  box-sizing: border-box;
  border: 1px solid #e7e7e7;
  margin-bottom: 14px;
}

.modal__name.bottom {
  margin-bottom: 64px;
}

.modal__list {
  width: 430px;
  height: 32px;
  border: 1px solid #e7e7e7;
  box-sizing: border-box;
  margin-bottom: 14px;
}

.modal__box {
  text-align: center;
}

.modal__button {
  padding: 13px 67px;
  background: #ffffff;
  border: 1px solid #e7e7e7;
}

.fv {
  width: 100%;
  height: 500px;
  background: url(img/onsen/onsen-header.png) no-repeat scroll center center/cover;
  margin-top: 80px;
  position: relative;
}

.fv__title {
  font-size: 3.4rem;
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.breadcrumb {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 98px;
}

.breadcrumb li {
  display: inline;
  /*横に並ぶように*/
  list-style: none;
  font-weight: bold;
  /*太字*/
}

.breadcrumb li:after {
  /* >を表示*/
  content: '>';
  font-size: 1.6rem;
  padding: 0 0.2em;
  color: #000000;
}

.breadcrumb li:last-child:after {
  content: '';
}

.breadcrumb li a {
  font-size: 1.6rem;
  text-decoration: none;
  color: #000000;
}

.breadcrumb li a:hover {
  text-decoration: underline;
}

.features {
  width: 100%;
  max-width: 1180px;
  padding-top: 36px;
  margin: 0 auto;
}

.features__message {
  font-size: 1.6rem;
  color: #000000;
  line-height: 2;
  text-align: center;
  margin-bottom: 135px;
}

.features__container {
  width: 100%;
  position: relative;
}

.features__image {
  object-fit: cover;
  position: absolute;
  top: -57px;
}

.features__image.image2 {
  right: 0;
}

.features__wrapper {
  width: 813px;
  height: 381px;
  background: url(img/top/bg.jpg) no-repeat scroll center center/cover;
  box-sizing: border-box;
  padding-top: 60px;
  padding-right: 68px;
  padding-left: 238px;
  margin-left: auto;
  margin-bottom: 135px;
}

.features__wrapper.wrapper2 {
  padding-left: 60px;
  padding-right: 136px;
  margin-left: 0;
  margin-bottom: 141px;
}

.features__wrapper.wrapper3 {
  margin-bottom: 141px;
}

.features__title {
  font-size: 2.4rem;
  color: #000000;
  margin-bottom: 52px;
}

.features__content {
  font-size: 1.6rem;
  color: #000000;
  line-height: 2;
  margin-bottom: 75px;
}

.features__note {
  font-size: 1.4rem;
  color: #000000;
  line-height: 1.5;
}

@media screen and (max-width: 1180px) {
  .features {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
  }
  .features__message {
    font-size: 1.6rem;
    color: #000000;
    line-height: 2;
    text-align: center;
    margin-bottom: 135px;
  }
  .features__container {
    width: 100%;
    position: relative;
  }
  .features__image {
    width: 44%;
    height: auto;
    object-fit: contain;
    position: absolute;
    top: -57px;
  }
  .features__image.image2 {
    right: 0;
  }
  .features__wrapper {
    width: 68.8%;
    height: 381px;
    background: url(img/top/bg.jpg) no-repeat scroll center center/cover;
    box-sizing: border-box;
    padding-top: 60px;
    padding-right: 5.76%;
    padding-left: 20.16%;
    margin-left: auto;
    margin-bottom: 135px;
  }
  .features__wrapper.wrapper2 {
    padding-left: 5%;
    padding-right: 16%;
    margin-left: 0;
    margin-bottom: 141px;
  }
  .features__wrapper.wrapper3 {
    margin-bottom: 141px;
  }
  .features__title {
    font-size: 2.4rem;
    color: #000000;
    margin-bottom: 52px;
  }
  .features__content {
    font-size: 1.6rem;
    color: #000000;
    line-height: 2;
    margin-bottom: 75px;
  }
  .features__note {
    font-size: 1.4rem;
    color: #000000;
    line-height: 1.5;
  }
}

@media screen and (max-width: 767px) {
  .features {
    width: 100%;
    max-width: 1180px;
    box-sizing: border-box;
    padding: 36px 20px 0;
    margin: 0 auto;
  }
  .features__message {
    font-size: 1.6rem;
    color: #000000;
    line-height: 2;
    text-align: center;
    margin-bottom: 40px;
  }
  .features__container {
    width: 100%;
    position: relative;
  }
  .features__image {
    width: 100%;
    height: auto;
    object-fit: contain;
    position: static;
    top: -57px;
  }
  .features__image.image2 {
    right: 0;
  }
  .features__wrapper {
    width: 100%;
    height: auto;
    background: url(img/top/bg.jpg) no-repeat scroll center center/cover;
    box-sizing: border-box;
    padding: 40px 10px;
    margin-left: auto;
    margin-bottom: 40px;
  }
  .features__wrapper.wrapper2 {
    padding: 40px 10px;
    margin-left: 0;
    margin-bottom: 40px;
  }
  .features__wrapper.wrapper3 {
    margin-bottom: 40px;
  }
  .features__title {
    font-size: 2.4rem;
    color: #000000;
    margin-bottom: 20px;
  }
  .features__content {
    font-size: 1.6rem;
    color: #000000;
    line-height: 2;
    margin-bottom: 20px;
  }
  .features__note {
    font-size: 1.4rem;
    color: #000000;
    line-height: 1.5;
  }
}

@media screen and (max-width: 480px) {
  .features {
    width: 100%;
    max-width: 1180px;
    box-sizing: border-box;
    padding: 0 20px;
    margin: 0 auto;
  }
  .features__message {
    font-size: 1.6rem;
    color: #000000;
    line-height: 2;
    text-align: center;
    margin-bottom: 40px;
  }
  .features__container {
    width: 100%;
    position: relative;
  }
  .features__image {
    width: 100%;
    height: auto;
    object-fit: contain;
    position: static;
    top: -57px;
  }
  .features__image.image2 {
    right: 0;
  }
  .features__wrapper {
    width: 100%;
    height: auto;
    background: url(img/top/bg.jpg) no-repeat scroll center center/cover;
    box-sizing: border-box;
    padding: 40px 10px;
    margin-left: auto;
    margin-bottom: 40px;
  }
  .features__wrapper.wrapper2 {
    padding: 40px 10px;
    margin-left: 0;
    margin-bottom: 40px;
  }
  .features__wrapper.wrapper3 {
    margin-bottom: 40px;
  }
  .features__title {
    font-size: 2.4rem;
    color: #000000;
    margin-bottom: 20px;
  }
  .features__content {
    font-size: 1.6rem;
    color: #000000;
    line-height: 2;
    margin-bottom: 20px;
  }
  .features__note {
    font-size: 1.4rem;
    color: #000000;
    line-height: 1.5;
  }
}

.efficacy {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto 100px;
  padding-top: 100px;
  border-top: 1px solid #F6F6F6;
  border-bottom: 1px solid #F6F6F6;
}

.efficacy__title {
  font-size: 2.6rem;
  color: #000000;
  text-align: center;
  margin-bottom: 51px;
}

.efficacy__table {
  width: 880px;
  margin: 0 auto 70px;
}

.table__menu {
  width: 220px;
  font-size: 1.5rem;
  color: #000000;
  border-collapse: collapse;
  border-top: 1px solid #F6F6F6;
  border-bottom: 1px solid #F6F6F6;
}

.table__description {
  font-size: 1.5rem;
  color: #000000;
  line-height: 1.45;
  padding: 17px 0;
  border-collapse: collapse;
  border-top: 1px solid #F6F6F6;
  border-bottom: 1px solid #F6F6F6;
}

@media screen and (max-width: 1000px) {
  .efficacy {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto 100px;
    padding-top: 100px;
    border-top: 1px solid #F6F6F6;
    border-bottom: 1px solid #F6F6F6;
  }
  .efficacy__title {
    font-size: 2.6rem;
    color: #000000;
    text-align: center;
    margin-bottom: 51px;
  }
  .efficacy__table {
    width: 100%;
    max-width: 880px;
    margin: 0 auto 70px;
  }
  .table__menu {
    width: 22%;
    font-size: 1.5rem;
    color: #000000;
    box-sizing: border-box;
    padding: 0 20px;
    border-collapse: collapse;
    border-top: 1px solid #F6F6F6;
    border-bottom: 1px solid #F6F6F6;
  }
  .table__description {
    font-size: 1.5rem;
    color: #000000;
    line-height: 1.45;
    box-sizing: border-box;
    padding: 17px 20px;
    border-collapse: collapse;
    border-top: 1px solid #F6F6F6;
    border-bottom: 1px solid #F6F6F6;
  }
}

.footer {
  width: 100%;
}

.footer__top {
  width: 100%;
  padding: 64px 0 61px;
  background: url(img/top/bg3.png) no-repeat center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__nav {
  margin-bottom: 96px;
}

.footer__list {
  display: flex;
  flex-direction: row-reverse;
}

.footer__menu {
  list-style: none;
  margin-right: 34px;
}

.footer__menu:first-of-type {
  margin: 0;
}

.footer__link {
  font-size: 1.8rem;
  color: #000000;
  letter-spacing: 1.8rem;
  writing-mode: vertical-rl;
  text-orientation: upright;
  text-decoration: none;
}

.footer__logo {
  width: 145px;
  object-fit: cover;
  margin-bottom: 72px;
}

.footer__wrapper {
  display: flex;
}

.footer__content {
  font-size: 1.6rem;
  color: #000000;
  font-style: normal;
  text-decoration: none;
  margin-bottom: 23px;
}

.footer__content.phone {
  margin-right: 20px;
}

.footer__bottom {
  width: 100%;
  background: #000000;
}

.footer__copyright {
  font-size: 1.2rem;
  color: #ffffff;
  text-align: center;
  padding: 23px 0 25px;
}
