@import "variable";

// 共通
html {
  font-size: 10px;
}
@media screen and (max-width: 767px) {
  html {
    font-size: 8px;
  }
}

body {
  font-family: "Times New Roman", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "ヒラギノ明朝 Pro W3",
    "Hiragino Mincho Pro", "HiraMinProN-W3", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
}


.fixed {
  position: fixed;
}

.hide {
  display: none;
}


@media screen and (max-width: 767px) {
  .sp-none {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .small-none {
    display: none;
  }
}

// ヘッダー
.header {
  width: 100%;
  height: 80px;
  background: $wt;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  &__container {
    width: 100%;
    height: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__left {
    display: flex;
    align-items: center;
  }
  &__logo {
    width: 200px;
    height: 40px;
    margin-right: 120px;
  }
  &__list {
    display: flex;
    align-items: center;
    list-style: none;
  }
  &__menu {
    margin-right: 30px;
  }
  &__link {
    font-size: 1.6rem;
    color: $bk;
    text-decoration: none;
  }
  &__button {
    display: inline-block;
    font-size: 1.6rem;
    color: $wt;
    background: $gd;
    padding: 19px 37px 19px 69px;
    text-decoration: none;
    position: relative;
    &::before {
      display: inline-block;
      content: "";
      background: url(img/top/calendar.png) no-repeat center / contain;
      width: 22px;
      height: 22px;
      position: absolute;
      top: 14px;
      left: 32px;
    }
  }
  &__spButton {
    display: none;
    font-size: 1.6rem;
    color: $wt;
    background: $gd;
    padding: 10px 16px;
    text-decoration: none;
  }
}
@media screen and (max-width: 767px) {
  .header {
    &__logo {
      margin-right: 40px; //*//
    }
    &__button {
      display: none; //*//
    }  
      &__spButton {
        display: block; //*//
    }
  }
}  

// ドロワー
.drawer {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 300;
  display: none;
  &__container {
    width: 100%;
    height: 100%;
  background: $wt;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
  &__icon {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 40px;
    right: 40px;
    z-index: 301;
  }
  &__list {
    list-style: none;
  }
  &__menu {
    margin-bottom: 40px;
  }
  &__link {
    font-size: 2rem;
    color: $bk;
    text-decoration: none;
  }
  &__button {
    display: inline-block;
    font-size: 2rem;
    color: $wt;
    background: $gd;
    padding: 19px 37px 19px 69px;
    text-decoration: none;
    position: relative;
    &::before {
      display: inline-block;
      content: "";
      background: url(img/top/calendar.png) no-repeat center / contain;
      width: 22px;
      height: 22px;
      position: absolute;
      top: 14px;
      left: 32px;
    }
  }
}

.modal {
  width: 100%;
  height: 100vh;
  background: url(img/top/mainbg01.png) no-repeat scroll center / cover ;
  position: fixed;
  top: 0;
  z-index: 100;
  &__wrapper {
    width: 100%;
    height: 100%;
    background: $bk;
    border: 1px solid $gr;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 102;
  }
  &__container {
    width: 550px;
    height: 600px;
    background: $wt;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 203;
  }
  &__icon {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 20px;
    right: 22px;
    &:hover {
      cursor: pointer;
    }
  }
  &__form {
    width: 430px;
    margin: 0 auto;
  }
  &__title {
    font-size: 2rem;
    color: $bk;
    text-align: center;
    border-bottom: 1px solid #e7e7e7;
    padding: 29px 0;
    margin-bottom: 35px;
  }
  &__menu {
    font-size: 1.6rem;
    color: $bk;
    margin-bottom: 14px;
    &.small {
      font-size: 1.4rem;
    }
  }
  &__name {
    width: 430px;
    height: 26px;
    box-sizing: border-box;
    border: 1px solid #e7e7e7;
    margin-bottom: 14px;
    &.bottom {
      margin-bottom: 64px;
    }
  }
  &__list {
    width: 430px;
    height: 32px;
    border: 1px solid #e7e7e7;
    box-sizing: border-box;
    margin-bottom: 14px;
  }
  &__box {
    text-align: center;
  }
  &__button {
    padding: 13px 67px;
    background: $wt;
    border: 1px solid #e7e7e7;
  }
}

.fv {
  width: 100%;
  height: 500px;
  background: url(img/menu/menu-header.png) no-repeat scroll center center / cover;
  margin-top: 80px;
  position: relative;
  &__title {
    font-size: 3.4rem;
    color: $wt;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

  // パンクズ
  .breadcrumb {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 98px;
  }
  .breadcrumb li {
    display: inline;/*横に並ぶように*/
    list-style: none;
    font-weight: bold;/*太字*/
  }
  .breadcrumb li:after {/* >を表示*/
    content: '>';
    font-size: 1.6rem;
    padding: 0 0.2em;
    color: $bk;
  }
  .breadcrumb li:last-child:after {
    content: '';
  }
  .breadcrumb li a {
    font-size: 1.6rem;
    text-decoration: none;
    color: $bk;
  }
  .breadcrumb li a:hover {
    text-decoration: underline;
  }
  

.features {
  width: 100%;
  max-width: 1180px;
  padding-top: 36px;
  margin: 0 auto;
  &__message {
    font-size: 1.6rem;
    color: $bk;
    line-height: 2;
    text-align: center;
    margin-bottom: 135px;
  }
  &__container {
    width: 100%;
    position: relative;
  }
  &__image {
    object-fit: cover;
    position: absolute;
    top: -57px;
    &.image2 {
      right: 0;
    }
  }
  &__wrapper {
    width: 813px;
    height: 381px;
    background: url(img/top/bg.jpg) no-repeat scroll center center / cover;
    box-sizing: border-box;
    padding-top: 60px;
    padding-right: 68px;
    padding-left: 238px;
    margin-left: auto;
    margin-bottom: 135px;
    &.wrapper2 {
      padding-left: 60px;
      padding-right: 136px;
      margin-left: 0;
      margin-bottom: 141px;
    }
    &.wrapper3 {
      margin-bottom: 141px;
    }
  }
  &__title {
    font-size: 2.4rem;
    color: $bk;
    margin-bottom: 52px;
  }
  &__content {
    font-size: 1.6rem;
    color: $bk;
    line-height: 2;
    margin-bottom: 75px;
  }
  &__note {
    font-size: 1.4rem;
    color: $bk;
    line-height: 1.5;
  }
}
@media screen and (max-width: 1180px) {
  .features {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    // パンクズ
    &__message {
      font-size: 1.6rem;
      color: $bk;
      line-height: 2;
      text-align: center;
      margin-bottom: 135px;
    }
    &__container {
      width: 100%;
      position: relative;
    }
    &__image {
      width: 44%; //*//
      height: auto; //*//
      object-fit: contain; //*//
      position: absolute;
      top: -57px;
      &.image2 {
        right: 0;
      }
    }
    &__wrapper {
      // width: 813px;
      width: 68.8%; //*//
      height: 381px;
      background: url(img/top/bg.jpg) no-repeat scroll center center / cover;
      box-sizing: border-box;
      padding-top: 60px;
      // padding-right: 68px;
      padding-right: 5.76%; //*//
      // padding-left: 238px;
      padding-left: 20.16%; //*//
      margin-left: auto;
      margin-bottom: 135px;
      &.wrapper2 {
        // padding-left: 60px;
        padding-left: 5%; //*//
        // padding-right: 136px;
        padding-right: 16%; //*//
        margin-left: 0;
        margin-bottom: 141px;
      }
      &.wrapper3 {
        margin-bottom: 141px;
      }
    }
    &__title {
      font-size: 2.4rem;
      color: $bk;
      margin-bottom: 52px;
    }
    &__content {
      font-size: 1.6rem;
      color: $bk;
      line-height: 2;
      margin-bottom: 75px;
    }
    &__note {
      font-size: 1.4rem;
      color: $bk;
      line-height: 1.5;
    }
  }
}
@media screen and (max-width: 767px) {
  .features {
    width: 100%;
    max-width: 1180px;
    box-sizing: border-box; //*//
    padding: 36px 20px 0; //*//
    margin: 0 auto;
    // パンクズ
    &__message {
      font-size: 1.6rem;
      color: $bk;
      line-height: 2;
      text-align: center;
      margin-bottom: 40px;
    }
    &__container {
      width: 100%;
      position: relative;
    }
    &__image {
      width: 100%; //*//
      height: auto;
      object-fit: contain;
      position: static; //*//
      top: -57px;
      &.image2 {
        right: 0;
      }
    }
    &__wrapper {
      width: 100%; //*//
      height: auto; //*//
      background: url(img/top/bg.jpg) no-repeat scroll center center / cover;
      box-sizing: border-box;
      padding: 40px 10px; //*//
      // padding-left: 10px; //*//
      margin-left: auto;
      margin-bottom: 40px; //*//
      &.wrapper2 {
        padding: 40px 10px; //*//
        // padding-right: 10px; //*//
        // padding-left: 10px; //*//
          margin-left: 0;
        margin-bottom: 40px; //*//
      }
      &.wrapper3 {
        margin-bottom: 40px; //*//
      }
    }
    &__title {
      font-size: 2.4rem;
      color: $bk;
      margin-bottom: 20px; //*//
    }
    &__content {
      font-size: 1.6rem;
      color: $bk;
      line-height: 2;
      margin-bottom: 20px; //*//
    }
    &__note {
      font-size: 1.4rem;
      color: $bk;
      line-height: 1.5;
    }
  }
}
@media screen and (max-width: 480px) {
  .features {
    width: 100%;
    max-width: 1180px;
    box-sizing: border-box; //*//
    padding: 0 20px; //*//
    margin: 0 auto;
    // パンクズ
    &__message {
      font-size: 1.6rem;
      color: $bk;
      line-height: 2;
      text-align: center;
      margin-bottom: 40px;
    }
    &__container {
      width: 100%;
      position: relative;
    }
    &__image {
      width: 100%; //*//
      height: auto;
      object-fit: contain;
      position: static; //*//
      top: -57px;
      &.image2 {
        right: 0;
      }
    }
    &__wrapper {
      width: 100%; //*//
      height: auto; //*//
      background: url(img/top/bg.jpg) no-repeat scroll center center / cover;
      box-sizing: border-box;
      padding: 40px 10px; //*//
      // padding-left: 10px; //*//
      margin-left: auto;
      margin-bottom: 40px; //*//
      &.wrapper2 {
        padding: 40px 10px; //*//
        // padding-right: 10px; //*//
        // padding-left: 10px; //*//
          margin-left: 0;
        margin-bottom: 40px; //*//
      }
      &.wrapper3 {
        margin-bottom: 40px; //*//
      }
    }
    &__title {
      font-size: 2.4rem;
      color: $bk;
      margin-bottom: 20px; //*//
    }
    &__content {
      font-size: 1.6rem;
      color: $bk;
      line-height: 2;
      margin-bottom: 20px; //*//
    }
    &__note {
      font-size: 1.4rem;
      color: $bk;
      line-height: 1.5;
    }
  }
}


.footer {
  width: 100%;
  &__top {
    width: 100%;
    padding: 64px 0 61px;
    background: url(img/top/bg3.png) no-repeat center / cover;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__nav {
    margin-bottom: 96px;
  }
  &__list {
    display: flex;
    flex-direction: row-reverse;
  }
  &__menu {
    list-style: none;
    margin-right: 34px;
    &:first-of-type {
      margin: 0;
    }
  }
  &__link {
    font-size: 1.8rem;
    color: $bk;
    letter-spacing: 1.8rem;
    writing-mode: vertical-rl;
    text-orientation: upright;
    text-decoration: none;
  }
  &__logo {
    width: 145px;
    object-fit: cover;
    margin-bottom: 72px;
  }
  &__wrapper {
    display: flex;
  }
  &__content {
    font-size: 1.6rem;
    color: $bk;
    font-style: normal;
    text-decoration: none;
    margin-bottom: 23px;
    &.phone {
      margin-right: 20px;
    }
  }
  &__bottom {
    width: 100%;
    background: $bk;
  }
  &__copyright {
    font-size: 1.2rem;
    color: $wt;
    text-align: center;
    padding: 23px 0 25px;
  }
}
